[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
mongoengine = "*"
python-dotenv = "*"
requests = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-cors = "*"
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
ta-lib = "*"
yfinance = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.8"
